.product-text{
    font-size: 25px;
    font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
    color: #0f0f0f;
}

.product-card{
    min-height: 150px;
    max-height: 1500px;
    min-width:150px;
    max-width: 150px;
}

.portfolio_description {
    position:absolute;
    width:100%;
    top:0;
    background-color:rgba(255, 255, 255, 0.5);
    z-index: 1;
}

.transition {
    -webkit-transform: scale(1.3);
    -moz-transform: scale(1.3);
    -o-transform: scale(1.3);
    transform: scale(1.3);
}
#content {
    -webkit-transition: all .4s ease-in-out;
    -moz-transition: all .4s ease-in-out;
    -o-transition: all .4s ease-in-out;
    -ms-transition: all .4s ease-in-out;
}

#content {
    /*width:80px;*/
    /*margin:25px;*/
}


.top-buffer { margin-top:100px; }


/*Loading bar animation*/
.loader {
    border: 50px solid #f3f3f3;
    border-radius: 50%;
    border-top: 20px solid blue;
    border-right: 20px solid green;
    border-bottom: 20px solid orangered;
    border-left: 20px solid yellow;
    width: 150px;
    height: 150px;
    -webkit-animation: spin 2s linear infinite;
    animation: spin 2s linear infinite;
}
@-webkit-keyframes spin {
    0% { -webkit-transform: rotate(0deg); }
    100% { -webkit-transform: rotate(360deg); }
}

@keyframes spin {
    0% { transform: rotate(0deg); }
    100% { transform: rotate(360deg); }
}

/*Loading bar animation*/


.custom-icon-color {
    font-size: 20px;
    /*color:orangered;    */
}
.hidden {
    display: none !important;
    visibility: hidden !important;
}
.post-product-loading-icon{
    color: #3c763d;
}


.sub-text {
    color:#aaa;
    font-family:"Times New Roman";
    font-size:11px;
}
.commentText p {
    padding-left: 5px ;
    padding-bottom: 0px;
    margin: 0px;
}
.commentList {
    padding:0;
    list-style:none;
    max-height:200px;
    overflow:auto;
}
.commentList li {
    margin:0;
    margin-top:10px;
}
.commentList li > div {
    display:table-cell;
}

.animate-show {
    display:block!important;
    -moz-transition:all linear 1s;
    -o-transition:all linear 1s;
    -webkit-transition:all linear 1s;
    transition:all linear 1s;
    opacity:1;
}

.form input.ng-invalid.ng-touched {
    border-color: red;
}

.form input.ng-valid.ng-touched {
    border-color: green;
}
.form textarea.ng-invalid.ng-touched {
    border-color: red;
}

.form textarea.ng-valid.ng-touched {
    border-color: green;
}



.localytics-chosen {
    display: block !important;
    position:absolute;
    clip:rect(0,0,0,0);
    height: 29px;
}

.dropdown-menu-sidebar {
    display: block;
    position: static;
    margin: 5px;
    *width: 180px;
}

.dropdown-submenu {
    position: relative;
    /*background-color: #88c149;*/
}

.dropdown-submenu > .dropdown-menu {
    top: 0;
    left: 100%;
    margin-top: -6px;
    margin-left: -1px;
    -webkit-border-radius: 0 6px 6px 6px;
    -moz-border-radius: 0 6px 6px 6px;
    border-radius: 0 6px 6px 6px;

}

.dropdown-submenu:hover > .dropdown-menu {
    display: block;
}

.dropdown-submenu > a:after {
    display: block;
    content: " ";
    float: right;
    width: 0;
    height: 0;
    border-color: transparent;
    border-style: solid;
    border-width: 5px 0 5px 5px;
    border-left-color: #cccccc;
    margin-top: 5px;
    margin-right: -10px;
}

.dropdown-submenu:hover > a:after {
    border-left-color: #ffffff;
}

.dropdown-submenu.pull-left {
    float: none;
}

.dropdown-submenu.pull-left > .dropdown-menu {
    left: -100%;
    margin-left: 10px;
    -webkit-border-radius: 6px 0 6px 6px;
    -moz-border-radius: 6px 0 6px 6px;
    border-radius: 6px 0 6px 6px;
}

.dropdown-menu > li > a:hover, .dropdown-menu > li > a:focus {
    background-color: #2fa4e7;
}

/*message view css classes*/
/*----------------------------------------------------*/
/*----------------- Testimonials CSS -----------------*/
/*----------------------------------------------------*/
.testimonial{
    margin-bottom: 10px;
}

.testimonial-section {
    width: 100%;
    height: auto;
    padding: 15px;
    -webkit-border-radius: 5px;
    -moz-border-radius: 5px;
    border-radius: 5px;
    position: relative;
    border: 1px solid #fff;
}
.testimonial-section:after {
    top: 100%;
    left: 50px;
    border: solid transparent;
    content: " ";
    position: absolute;
    border-top-color: #fff;
    border-width: 15px;
    margin-left: -15px;
}

.testimonial-desc {
    margin-top: 20px;
    text-align:left;
    padding-left: 15px;
}
.testimonial-desc img {
    border: 1px solid #f5f5f5;
    border-radius: 150px;
    height: 70px;
    padding: 3px;
    width: 70px;
    display:inline-block;
    vertical-align: top;
}

.testimonial-writer{
    display: inline-block;
    vertical-align: top;
    padding-left: 10px;
}

.testimonial-writer-name{
    font-weight: bold;
}

.testimonial-writer-designation{
    font-size: 85%;
}

.testimonial-writer-company{
    font-size: 85%;
}
/*---- Outlined Styles ----*/
.testimonial.testimonial-default{

}
.testimonial.testimonial-default .testimonial-section{
    border-color: #777;
}

.testimonial.testimonial-default .testimonial-section:after{
    border-top-color: #777;
}

.testimonial.testimonial-default .testimonial-desc{

}

.testimonial.testimonial-default .testimonial-desc img{
    border-color: #777;
}

.testimonial.testimonial-default .testimonial-writer-name{
    color: #777;
}

.testimonial.testimonial-primary{

}
.testimonial.testimonial-primary .testimonial-section{
    border-color: #337AB7;
    color: #286090;
    background-color: rgba(51, 122, 183, 0.1);
}

.testimonial.testimonial-primary .testimonial-section:after{
    border-top-color: #337AB7;
}

.testimonial.testimonial-primary .testimonial-desc{

}

.testimonial.testimonial-primary .testimonial-desc img{
    border-color: #337AB7;
}

.testimonial.testimonial-primary .testimonial-writer-name{
    color: #337AB7;
}

.testimonial.testimonial-info{

}
.testimonial.testimonial-info .testimonial-section{
    border-color: #5BC0DE;
    color: #31b0d5;
    background-color: rgba(91, 192, 222, 0.1);
}

.testimonial.testimonial-info .testimonial-section:after{
    border-top-color: #5BC0DE;
}

.testimonial.testimonial-info .testimonial-desc{

}

.testimonial.testimonial-info .testimonial-desc img{
    border-color: #5BC0DE;
}

.testimonial.testimonial-info .testimonial-writer-name{
    color: #5BC0DE;
}


.testimonial.testimonial-success{

}
.testimonial.testimonial-success .testimonial-section{
    border-color: #5CB85C;
    color: #449d44;
    background-color: rgba(92, 184, 92, 0.1);
}

.testimonial.testimonial-success .testimonial-section:after{
    border-top-color: #5CB85C;
}

.testimonial.testimonial-success .testimonial-desc{

}

.testimonial.testimonial-success .testimonial-desc img{
    border-color: #5CB85C;
}

.testimonial.testimonial-success .testimonial-writer-name{
    color: #5CB85C;
}

.testimonial.testimonial-warning{

}
.testimonial.testimonial-warning .testimonial-section{
    border-color: #F0AD4E;
    color: #d58512;
    background-color: rgba(240, 173, 78, 0.1);
}

.testimonial.testimonial-warning .testimonial-section:after{
    border-top-color: #F0AD4E;
}

.testimonial.testimonial-warning .testimonial-desc{

}

.testimonial.testimonial-warning .testimonial-desc img{
    border-color: #F0AD4E;
}

.testimonial.testimonial-warning .testimonial-writer-name{
    color: #F0AD4E;
}

.testimonial.testimonial-danger{

}
.testimonial.testimonial-danger .testimonial-section{
    border-color: #D9534F;
    color: #c9302c;
    background-color: rgba(217, 83, 79, 0.1);
}

.testimonial.testimonial-danger .testimonial-section:after{
    border-top-color: #D9534F;
}

.testimonial.testimonial-danger .testimonial-desc{

}

.testimonial.testimonial-danger .testimonial-desc img{
    border-color: #D9534F;
}

.testimonial.testimonial-danger .testimonial-writer-name{
    color: #D9534F;
}

/*---- Filled Styles ----*/
.testimonial.testimonial-default-filled{

}
.testimonial.testimonial-default-filled .testimonial-section{
    color: #fff;
    border-color: #777;
    background-color: #777;
}

.testimonial.testimonial-default-filled .testimonial-section:after{
    border-top-color: #777;
}

.testimonial.testimonial-default-filled .testimonial-desc{

}

.testimonial.testimonial-default-filled .testimonial-desc img{
    border-color: #777;
    background-color: #777;
}

.testimonial.testimonial-default-filled .testimonial-writer-name{
    color: #777;
}

.testimonial.testimonial-primary-filled{

}
.testimonial.testimonial-primary-filled .testimonial-section{
    color: #fff;
    background-color: #337ab7;
    border-color: #2e6da4;
}

.testimonial.testimonial-primary-filled .testimonial-section:after{
    border-top-color: #337AB7;
}

.testimonial.testimonial-primary-filled .testimonial-desc{

}

.testimonial.testimonial-primary-filled .testimonial-desc img{
    border-color: #2e6da4;
    background-color: #337ab7;
}

.testimonial.testimonial-primary-filled .testimonial-writer-name{
    color: #337AB7;
}

.testimonial.testimonial-info-filled{

}
.testimonial.testimonial-info-filled .testimonial-section{
    color: #fff;
    background-color: #5bc0de;
    border-color: #46b8da;
}

.testimonial.testimonial-info-filled .testimonial-section:after{
    border-top-color: #5BC0DE;
}

.testimonial.testimonial-info-filled .testimonial-desc{

}

.testimonial.testimonial-info-filled .testimonial-desc img{
    border-color: #46b8da;
    background-color: #5bc0de;
}

.testimonial.testimonial-info-filled .testimonial-writer-name{
    color: #5BC0DE;
}


.testimonial.testimonial-success-filled{

}
.testimonial.testimonial-success-filled .testimonial-section{
    color: #fff;
    background-color: #5cb85c;
    border-color: #4cae4c;
}

.testimonial.testimonial-success-filled .testimonial-section:after{
    border-top-color: #5CB85C;
}

.testimonial.testimonial-success-filled .testimonial-desc{

}

.testimonial.testimonial-success-filled .testimonial-desc img{
    border-color: #4cae4c;
    background-color: #5cb85c;
}

.testimonial.testimonial-success-filled .testimonial-writer-name{
    color: #5CB85C;
}

.testimonial.testimonial-warning-filled{

}
.testimonial.testimonial-warning-filled .testimonial-section{
    color: #fff;
    background-color: #f0ad4e;
    border-color: #eea236;
}

.testimonial.testimonial-warning-filled .testimonial-section:after{
    border-top-color: #F0AD4E;
}

.testimonial.testimonial-warning-filled .testimonial-desc{

}

.testimonial.testimonial-warning-filled .testimonial-desc img{
    border-color: #eea236;
    background-color: #f0ad4e;
}

.testimonial.testimonial-warning-filled .testimonial-writer-name{
    color: #F0AD4E;
}

.testimonial.testimonial-danger-filled{

}
.testimonial.testimonial-danger-filled .testimonial-section{
    color: #fff;
    background-color: #d9534f;
    border-color: #d43f3a;
}

.testimonial.testimonial-danger-filled .testimonial-section:after{
    border-top-color: #D9534F;
}

.testimonial.testimonial-danger-filled .testimonial-desc{

}

.testimonial.testimonial-danger-filled .testimonial-desc img{
    border-color: #d43f3a;
    background-color: #D9534F;
}

.testimonial.testimonial-danger-filled .testimonial-writer-name{
    color: #D9534F;
}